@{
    ViewBag.Title = "Index";
}

<h1>Performance Evaluating App</h1>

<div ng-app="Main" ng-controller="MainController">
    <div class="layout">
        <label>Testing Page<input type="radio" name="view" ng-model="currentView" ng-value="views.TEST" /></label>
        <label>All Statistics<input type="radio" name="view" ng-model="currentView" ng-value="views.STAT" /></label>
    </div>
    <div ng-show="currentView === views.TEST">
        <form class="layout" name="tester">
            <label for="url">Enter full url including http:// or https://</label>
            <input type="url" name="url" id="url" ng-model="url"/>
            <span class="warning" ng-show="tester.url.$touched && tester.url.$invalid">URL is invalid (like you hahaha)</span>
            <div><button ng-disabled="processing" ng-click="testWebsite($event)">Test!</button></div>
        </form>
        <h2 class="hint" ng-bind="hints.test"></h2>
        <div ng-show="result.test">
            <table>
                <tr>
                    <th>Url</th><td>{{result.test.WebsiteName}}</td>
                </tr>
                <tr>
                    <th>Server IP</th>
                    <td>{{result.test.IpAddressInfo.IpAddress}}</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>{{result.test.IpAddressInfo.CountryName}}</td>
                </tr>
                <tr>
                    <th>Coordinates</th>
                    <td>Latitude: {{result.test.IpAddressInfo.Latitude}};
                        Longitude: {{result.test.IpAddressInfo.Longitude}}</td>
                </tr>
                <tr>
                    <th>Time Zone</th>
                    <td>{{result.test.IpAddressInfo.TimeZone}}</td>
                </tr>
                <tr>
                    <th>Pages Tested</th>
                    <td>{{result.test.WebPagesCount}}</td>
                </tr>
                <tr>
                    <th>Test Started</th>
                    <td>{{result.test.Timestamp.toString()}}</td>
                </tr>
                <tr>
                    <th>Average Request Time</th>
                    <td>{{result.test.AverageRequestTime}}</td>
                </tr>
            </table>
            <button ng-show="result.test && !result.webPages"
                    ng-click="getWebpages($event)">See details</button>
            <button ng-click="deleteTest($event)">Delete this test</button>
            <h3 ng-bind="hints.webPages"></h3>
            <div ng-show="result.webPages">
                <div class="layout">
                    <input type="text" ng-model ="filter.query" placeholder ="Type here for quick search" />
                    <div class="layout">
                        <label ng-repeat="code in filter.codes">
                            {{getHttpStatus(code)}}
                            <input type="checkbox" ng-model="code.selected"/>
                        </label>
                    </div>
                    <br/>
                    <div class="layout">
                        Request Length between 
                        <input step="50" type="number" ng-model="filter.time.min"/>
                        and 
                        <input step="50" type="number" ng-model="filter.time.max"/><br/>
                        <button ng-click="filter.time.restoreTime($event)">Defaults</button>
                    </div>
                    <label>Has error <input type="checkbox" ng-model="filter.error.no"/></label>
                    <label>Without error <input type="checkbox" ng-model="filter.error.yes"/></label>
                </div>
                <div ng-show="sort.order.length">Sorted by: {{sort.order.join(', ')}}</div>
                <table id="output">
                    <tr>
                        <th ng-repeat="header in websiteHeaders">
                            {{header.value}}
                            <button ng-click="sort($event, header, -1)">v</button>
                            <button ng-click="sort($event, header, 1)">^</button>
                            <button ng-click="sort($event, header, 0)">x</button>
                        </th>
                    </tr>
                    <tr ng-show="([webPage] | filter:filter.query).length > 0" ng-repeat="webPage in filter.collection = (result.webPages | filter : filter.byCodes | filter : filter.byTime | filter : filter.byErrors | orderBy : sort.criteria)">
                        <td>{{webPage.RequestUri}}</td>
                        <td>{{webPage.HttpStatusCode ? getHttpStatus(webPage.HttpStatusCode) : ''}}</td>
                        <td>{{webPage.RequestTime}}</td>
                        <td>{{webPage.Timestamp.toString()}}</td>
                        <td>{{webPage.Error}}</td>
                    </tr>
                </table>
                <h3 ng-show="!filter.collection.length">No Results</h3>
            </div>
        </div>
    </div>
    <div ng-show="currentView === views.STAT">

    </div>
</div>