@{
    ViewBag.Title = "Index";
}

<h1>Performance Evaluating App</h1>

<div ng-app="Main" ng-controller="MainController">
    <div class="layout">
        <label>Testing Page<input type="radio" name="view" ng-model="currentView" ng-value="views.TEST" /></label>
        <label>All Statistics<input type="radio" name="view" ng-model="currentView" ng-value="views.STAT" /></label>
    </div>
    <div ng-show="currentView === views.TEST">
        <form class="layout" name="tester">
            <label for="url">Enter full url including http:// or https://</label>
            <input type="url" name="url" id="url" ng-model="url"/>
            <span class="warning" ng-show="tester.url.$touched && tester.url.$invalid">URL is invalid (like you hahaha)</span>
            <div><button ng-disabled="processing" ng-click="testWebsite($event)">Test!</button></div>
        </form>
        <h2 class="hint" ng-bind="hints.test"></h2>
        <div ng-show="result.test">
            <test id="resultTest" src="{{result.test}}"></test>
            <button ng-click="download($event)">Download</button>
            <button ng-show="!result.webPages"
                    ng-click="getWebpages($event)">See details</button>
            <button ng-click="deleteTest($event)">Delete this test</button>
            @*<h3 ng-bind="hints.webPages"></h3>*@
        </div>
        <web-pages table-id="resultWebPages" src="{{result.webPages}}"></web-pages>
    </div>
    <div ng-show="currentView === views.STAT">
        <button ng-click="goBack($event)" ng-show="stat.website"><<<</button>
        <h3 id="statWebsite" ng-show="stat.website && !stat.test" ng-bind="stat.website.Name"></h3>
        <test id="statTest" src="{{stat.test}}"></test>
        <h2 ng-show="hints.stat" class="hint">{{hints.stat}}</h2>
        <button ng-show="stat.website" ng-click="download($event)">Download</button>
        <button ng-show="stat.failure" ng-click="retryUpdate($event)">Retry</button>
        <div class="layout" ng-if="stat.collection && displaying === displayingEnum.WEBSITES">
            <input ng-model="websiteQuery" placeholder="Quick search"/>
            <table id="statWebsites">
                <tr ng-click="getTests($event, website)" ng-repeat="website in stat.displaySites = (stat.collection | filter:websiteQuery)">
                    <td class="button">{{website.Name}}</td>
                    <td class="button" ng-click="getWebPages($event, webPagesType.ALL, website); $event.stopPropagation();">See all Web Pages</td>
                </tr>
            </table>
            <h3 ng-show="!stat.displaySites.length > 0">No results</h3>
            <button ng-click="updateWebsites()">Update List</button>
        </div>
        <div class="layout" ng-if="stat.collection && displaying === displayingEnum.TESTS">
            @*<div class="layout">
                Filter by ip info, average, count, date
            </div>*@

            <table id="statTests">
                <tr>
                    <th ng-repeat="header in testHeaders">
                        {{header.value}}
                        <span ng-if="header.prop">
                            <!--sort buttons-->
                        </span>
                    </th>
                </tr>
                <tr class="button" ng-click="getWebPages($event, webPagesType.TEST, test)" ng-repeat="test in stat.collection">
                    <td>{{test.Timestamp.toString()}}</td>
                    <td>{{test.AverageRequestTime}}</td>
                    <td>{{test.WebPagesCount}}</td>
                    <td>{{test.IpAddressInfo.IpAddress}}
                        <button label="See details" ng-click="expandIp($event, test); $event.stopPropagation();"></button>
                    </td>
                </tr>
            </table>
        </div>
        <web-pages table-id="statWebPages" src="{{stat.webPages}}"></web-pages>
    </div>
</div>