@{
    ViewBag.Title = "Index";
}

<h1>Performance Evaluating App</h1>

<div ng-app="Main" ng-controller="MainController">
    <div class="layout">
        <label>Testing Page<input type="radio" name="view" ng-model="currentView" ng-value="views.TEST" /></label>
        <label>All Statistics<input type="radio" name="view" ng-model="currentView" ng-value="views.STAT" /></label>
    </div>
    <div ng-show="currentView === views.TEST">
        <form class="layout" name="tester">
            <label for="url">Enter full url including http:// or https://</label>
            <input type="url" name="url" id="url" ng-model="url"/>
            <span class="warning" ng-show="tester.url.$touched && tester.url.$invalid">URL is invalid (like you hahaha)</span>
            <div><button ng-disabled="processing" ng-click="testWebsite($event)">Test!</button></div>
        </form>
        <h2 class="hint" ng-bind="hints.test"></h2>
        <div ng-show="result.test">
            <table>
                <tr>
                    <th>Url</th><td>{{result.test.Website.Name}}</td>
                </tr>
                <tr>
                    <th>Server IP</th>
                    <td>{{result.test.IpAddressInfo.IpAddress}}</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>{{result.test.IpAddressInfo.CountryName}}</td>
                </tr>
                <tr>
                    <th>Coordinates</th>
                    <td>Latitude: {{result.test.IpAddressInfo.Latitude}};
                        Longitude: {{result.test.IpAddressInfo.Longitude}}</td>
                </tr>
                <tr>
                    <th>Time Zone</th>
                    <td>{{result.test.IpAddressInfo.TimeZone}}</td>
                </tr>
                <tr>
                    <th>Pages Tested</th>
                    <td>{{result.test.WebPagesCount}}</td>
                </tr>
                <tr>
                    <th>Test Started</th>
                    <td>{{result.test.Timestamp.toString()}}</td>
                </tr>
                <tr>
                    <th>Average Request Time</th>
                    <td>{{result.test.AverageRequestTime}}</td>
                </tr>
            </table>
            <button ng-show="result.test && !result.webPages"
                    ng-click="getWebpages($event)">See details</button>
            <button ng-click="deleteTest($event)">Delete this test</button>
            <h3 ng-bind="hints.webPages"></h3>
            <table ng-show="result.webPages">
                <tr>
                    <th>Requested Uri</th>
                    <th>Response Code</th>
                    <th>Request Length</th>
                    <th>Request Start</th>
                </tr>
                <tr ng-repeat="webPage in result.webPages">
                    <td>{{webPage.RequestUri}}</td>
                    <td>{{webPage.HttpStatusCode.Code + ' ' + webPage.HttpStatusCode.Phrase}}</td>
                    <td>{{webPage.RequestTime}}</td>
                    <td>{{webPage.Timestamp.toString()}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-show="currentView === views.STAT">

    </div>
</div>