<html>
<head>
    <title>Performance Evaluating App</title>
    @Styles.Render("~/Content/Css")
</head>
<body>
<div class="container">
    @RenderBody()
</div>
    @Scripts.Render("~/bundles/jquery", "~/bundles/chart", "~/bundles/angular", "~/bundles/app")
</body>
</html>
