@model IEnumerable<PerformanceEvaluatingApp.Models.WebPage>
@{
    ViewBag.Title = "Home Page";
}

<form class="form-inline" method="post">
    <div class="form-group">
        <label for="address">Website's URL:</label>
        <input class="form-control" type="url" id="address "name="address" />
    </div>
    <div class="form-group">
        <label for="numberOfTries">Number of tests:</label>
        <input class="form-control" type="number" id="numberOfTries " name="numberOfTries" 
               min="@ViewBag.MaxNumberOfTries" max="@ViewBag.MaxNumberOfTries"
               value="@ViewBag.DefaultNumberOfTries"/>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" name="startFromCurrentLocation" checked="checked"> Do not truncate URL</label>
    </div>
    <input class="btn btn-info" type="submit" />
</form>
@if (Model != null)
{
    @{Html.RenderPartial("WebPagesTable", Model)}
    <div class="well">To see all results for @Html.ActionLink((string)ViewBag.CrawledWebsite, "History", "Home", null, new { address = (string) ViewBag.CrawledWebsite })</div>
}
else
{
    <div class="alert alert-info">
        <strong>To test site performance fill in form above</strong>
    </div>
}