@model IEnumerable<PerformanceEvaluatingApp.Models.WebPage>
@{
    ViewBag.Title = "Home Page";
}

<form method="post" action="/Home/Index" id="testSite">
    <div class="form-group">
        <label for="address">Website's URL:</label>
        <input class="form-control" type="url" id="address "name="address" />
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3 col-sm-4">
            <div class="form-group">
                <input type="checkbox" name="startFromCurrentLocation" value="true" id="fancy-checkbox-default" autocomplete="on" />
                @*<input type="hidden" name="startFromCurrentLocation" value="false" />*@
                <div class="btn-group">
                    <label for="fancy-checkbox-default" class="btn btn-default">
                        <span class="glyphicon glyphicon-ok"></span>
                        <span> </span>
                    </label>
                    <label for="fancy-checkbox-default" class="btn btn-default active">
                        Do not truncate URL
                    </label>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-9 col-sm-8">
            <button class="btn btn-block btn-group btn-info" type="submit">Test</button>
        </div>
    </div>
</form>
@if (Model != null)
{
    <h2 class="text-info">Requests results for website <a href="@ViewBag.CrawledWebsite.Name" target="_blank">@ViewBag.CrawledWebsite.Name</a></h2>
    { Html.RenderPartial("WebPagesTable", Model); }
    <div class="well">To see all results for @Html.ActionLink(" the website", "History", "Home", new { id = (int) ViewBag.CrawledWebsite.Id }, null)</div>
}
else
{
    <div id="output">
        <div class="alert alert-info text-center">
            <strong>To test site performance fill in the form above</strong>
        </div>
    </div>
}
@section scripts {
    <script>
        var loadingGif = '<div class="jumbotron text-success">\
            <h2>Please, wait until will be tested</h2> \
            <p>This may take several minutes depending on site complexity and site\'s server speed</p> \
            </div>\
            <div><img alt="Loading..." src="/Content/Images/loading.gif" /></div>';
        var form = $("#testSite");
        var output = $("#output");
        form.submit(function (event) {
            output.html(loadingGif);
            $.post("/Home/AjaxIndex", form.serialize()).done(function (data) {
                output.html(data);
            });
            event.preventDefault();
        });
    </script>
}