@model PerformanceEvaluatingApp.Models.Website

@{
    ViewBag.Title = "Tests results for " + Model.Name;
}

<h2 class="text-info">Tests results for <a href="@Model.Name" target="_blank">@Model.Name</a></h2>

@{ Html.RenderPartial("WebPagesTable", Model.WebPages);}